Repository vetall7/railway-management-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: add mirage server
  package-lock.json
  package.json
  src/main.ts
Due: eslint --fix, prettier --write

style: margin/padding reset
  src/styles.scss
Due: prettier --write

feat: module create
  src/app/app.component.html
  src/app/app.module.ts
  src/app/features/search/pages/home/home.component.html
  src/app/features/search/pages/home/home.component.scss
  src/app/features/search/pages/home/home.component.spec.ts
  src/app/features/search/pages/home/home.component.ts
  src/app/features/search/search.module.ts
Due: eslint --fix, prettier --write

feat: create search-trip module and basic structure of this module
  src/app/features/search-trip/pages/index.ts
  src/app/features/search-trip/pages/search-trips/index.ts
  src/app/features/search-trip/pages/search-trips/search-trips.component.html
  src/app/features/search-trip/pages/search-trips/search-trips.component.scss
  src/app/features/search-trip/pages/search-trips/search-trips.component.spec.ts
  src/app/features/search-trip/pages/search-trips/search-trips.component.ts
  src/app/features/search-trip/pages/trip-details/index.ts
  src/app/features/search-trip/pages/trip-details/trip-details.component.html
  src/app/features/search-trip/pages/trip-details/trip-details.component.scss
  src/app/features/search-trip/pages/trip-details/trip-details.component.spec.ts
  src/app/features/search-trip/pages/trip-details/trip-details.component.ts
  src/app/features/search-trip/search-trip-routing.module.ts
  src/app/features/search-trip/search-trip.module.ts
Due: eslint --fix, prettier --write

style: add css variables and path aliasing
  src/variables.scss
  tsconfig.json
Due: prettier --write

feat: add form validation and autocomplete functionality
  .editorconfig
  .prettierrc.json
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.module.ts
  src/app/features/search-trip/pages/search-trips/search-trips.component.html
  src/app/features/search-trip/pages/search-trips/search-trips.component.ts
  src/app/features/search-trip/pages/trip-details/trip-details.component.html
  src/app/features/search-trip/pages/trip-details/trip-details.component.ts
  src/app/features/search-trip/search-trip.module.ts
  src/app/features/search-trip/services/fetch-trips.service.spec.ts
  src/app/features/search-trip/services/fetch-trips.service.ts
  src/app/features/search-trip/services/index.ts
  src/app/features/search-trip/services/search-autocomplete.service.spec.ts
  src/app/features/search-trip/services/search-autocomplete.service.ts
  src/app/features/search-trip/validators/date-validator.directive.ts
  src/app/features/search/pages/home/home.component.html
  src/app/features/search/pages/home/home.component.scss
  src/app/features/search/pages/home/home.component.spec.ts
  src/app/features/search/pages/home/home.component.ts
  src/app/features/search/search.module.ts
Due: eslint --fix, prettier --write

feat: add navigation to the admin page
  src/app/app.routes.ts
  src/app/features/admin/admin-routing.module.ts
  src/app/features/admin/admin.module.ts
  src/app/features/admin/components/index.ts
  src/app/features/admin/components/navigation/index.ts
  src/app/features/admin/components/navigation/navigation.component.html
  src/app/features/admin/components/navigation/navigation.component.scss
  src/app/features/admin/components/navigation/navigation.component.spec.ts
  src/app/features/admin/components/navigation/navigation.component.ts
  src/app/features/admin/pages/admin/admin.component.html
  src/app/features/admin/pages/admin/admin.component.scss
  src/app/features/admin/pages/admin/admin.component.spec.ts
  src/app/features/admin/pages/admin/admin.component.ts
  src/app/features/admin/pages/admin/index.ts
  src/app/features/admin/pages/carriages/carriages.component.html
  src/app/features/admin/pages/carriages/carriages.component.scss
  src/app/features/admin/pages/carriages/carriages.component.spec.ts
  src/app/features/admin/pages/carriages/carriages.component.ts
  src/app/features/admin/pages/carriages/index.ts
  src/app/features/admin/pages/index.ts
  src/app/features/admin/pages/routes/index.ts
  src/app/features/admin/pages/routes/routes.component.html
  src/app/features/admin/pages/routes/routes.component.scss
  src/app/features/admin/pages/routes/routes.component.spec.ts
  src/app/features/admin/pages/routes/routes.component.ts
  src/app/features/admin/pages/stations/index.ts
  src/app/features/admin/pages/stations/stations.component.html
  src/app/features/admin/pages/stations/stations.component.scss
  src/app/features/admin/pages/stations/stations.component.spec.ts
  src/app/features/admin/pages/stations/stations.component.ts
Due: eslint --fix, prettier --write

feat: add google maps and form create station
  package-lock.json
  package.json
  src/app/features/admin/admin.module.ts
  src/app/features/admin/pages/stations/stations.component.html
  src/app/features/admin/pages/stations/stations.component.scss
  src/app/features/admin/pages/stations/stations.component.ts
  src/app/features/admin/validators/index.ts
  src/app/features/admin/validators/latitudeValid.ts
  src/app/features/admin/validators/longitudeValid.ts
  src/index.html
Due: eslint --fix, prettier --write

feat: add basic structure of list with available trips
  package-lock.json
  package.json
  src/app/features/search-trip/components/single-trip/single-trip.component.html
  src/app/features/search-trip/components/single-trip/single-trip.component.scss
  src/app/features/search-trip/components/single-trip/single-trip.component.spec.ts
  src/app/features/search-trip/components/single-trip/single-trip.component.ts
  src/app/features/search-trip/models/city.ts
  src/app/features/search-trip/models/trips.model.ts
  src/app/features/search-trip/pages/search-trips/search-trips.component.html
  src/app/features/search-trip/pages/search-trips/search-trips.component.ts
  src/app/features/search-trip/search-trip.module.ts
  src/app/features/search-trip/services/fetch-trips.service.ts
  src/app/features/search-trip/services/search-autocomplete.service.ts
Due: eslint --fix, prettier --write

refactor: form station in a separate components
  src/app/features/admin/admin.module.ts
  src/app/features/admin/components/form-station/form-station.component.html
  src/app/features/admin/components/form-station/form-station.component.scss
  src/app/features/admin/components/form-station/form-station.component.spec.ts
  src/app/features/admin/components/form-station/form-station.component.ts
  src/app/features/admin/components/form-station/index.ts
  src/app/features/admin/components/index.ts
  src/app/features/admin/models/DataFormStation.ts
  src/app/features/admin/models/DataStation.ts
  src/app/features/admin/models/Locations.ts
  src/app/features/admin/models/UserMark.ts
  src/app/features/admin/models/index.ts
  src/app/features/admin/pages/stations/stations.component.html
  src/app/features/admin/pages/stations/stations.component.ts
Due: eslint --fix, prettier --write

feat: add redux
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/features/admin/admin.module.ts
  src/app/features/admin/pages/stations/stations.component.ts
  src/app/features/admin/services/station.service.ts
  src/app/features/admin/store/actions/admin.actions.ts
  src/app/features/admin/store/effects/admin.effects.ts
  src/app/features/admin/store/reducers/admin.reducer.ts
  src/app/features/admin/store/selectors/admin.selector.ts
Due: eslint --fix, prettier --write

feat: add info stations
  src/app/features/admin/admin.module.ts
  src/app/features/admin/components/form-station/form-station.component.ts
  src/app/features/admin/components/index.ts
  src/app/features/admin/components/loader/index.ts
  src/app/features/admin/components/loader/loader.component.html
  src/app/features/admin/components/loader/loader.component.scss
  src/app/features/admin/components/loader/loader.component.spec.ts
  src/app/features/admin/components/loader/loader.component.ts
  src/app/features/admin/components/station-info/index.ts
  src/app/features/admin/components/station-info/station-info.component.html
  src/app/features/admin/components/station-info/station-info.component.scss
  src/app/features/admin/components/station-info/station-info.component.spec.ts
  src/app/features/admin/components/station-info/station-info.component.ts
  src/app/features/admin/models/DataStation.ts
  src/app/features/admin/pages/stations/stations.component.html
  src/app/features/admin/pages/stations/stations.component.scss
  src/app/features/admin/pages/stations/stations.component.ts
  src/app/features/admin/store/selectors/admin.selector.ts
Due: eslint --fix, prettier --write

feat: add loader
  src/app/features/admin/components/form-station/form-station.component.html
  src/app/features/admin/components/form-station/form-station.component.scss
  src/app/features/admin/components/form-station/form-station.component.ts
  src/app/features/admin/components/loader/loader.component.html
  src/app/features/admin/components/loader/loader.component.scss
  src/app/features/admin/components/station-info/station-info.component.scss
  src/app/features/admin/pages/stations/stations.component.html
  src/app/features/admin/pages/stations/stations.component.scss
  src/app/features/admin/pages/stations/stations.component.ts
Due: eslint --fix, prettier --write

feat: add data selecting, displaying all necessary information about each trip
  src/app/features/search-trip/components/date-selector/date-selector.component.html
  src/app/features/search-trip/components/date-selector/date-selector.component.scss
  src/app/features/search-trip/components/date-selector/date-selector.component.spec.ts
  src/app/features/search-trip/components/date-selector/date-selector.component.ts
  src/app/features/search-trip/components/single-trip/single-trip.component.html
  src/app/features/search-trip/components/single-trip/single-trip.component.ts
  src/app/features/search-trip/models/carriage.model.ts
  src/app/features/search-trip/models/trips.model.ts
  src/app/features/search-trip/pages/search-trips/search-trips.component.html
  src/app/features/search-trip/pages/search-trips/search-trips.component.ts
  src/app/features/search-trip/search-trip.module.ts
  src/app/features/search-trip/services/fetch-carriages.service.spec.ts
  src/app/features/search-trip/services/fetch-carriages.service.ts
  src/app/features/search-trip/services/fetch-trips.service.ts
  src/app/features/search-trip/services/search-autocomplete.service.ts
Due: eslint --fix, prettier --write

feat: add method push on servise data staton
  package-lock.json
  package.json
  src/app/features/admin/components/form-station/form-station.component.html
  src/app/features/admin/components/form-station/form-station.component.ts
  src/app/features/admin/models/DataFormStation.ts
  src/app/features/admin/models/DataPostStation.ts
  src/app/features/admin/models/DataStation.ts
  src/app/features/admin/models/ResponseCreateStation.ts
  src/app/features/admin/models/index.ts
  src/app/features/admin/pages/stations/stations.component.html
  src/app/features/admin/services/station.service.ts
  src/app/features/admin/store/actions/admin.actions.ts
  src/app/features/admin/store/effects/admin.effects.ts
  src/app/features/admin/store/reducers/admin.reducer.ts
  src/app/features/admin/store/selectors/admin.selector.ts
Due: eslint --fix, prettier --write

feat: add dialog with trip details
  src/app/features/search-trip/components/single-trip/single-trip.component.html
  src/app/features/search-trip/components/trip-details-dialog/trip-details-dialog.component.html
  src/app/features/search-trip/components/trip-details-dialog/trip-details-dialog.component.scss
  src/app/features/search-trip/components/trip-details-dialog/trip-details-dialog.component.spec.ts
  src/app/features/search-trip/components/trip-details-dialog/trip-details-dialog.component.ts
  src/app/features/search-trip/pages/search-trips/search-trips.component.html
  src/app/features/search-trip/pages/search-trips/search-trips.component.scss
  src/app/features/search-trip/pages/search-trips/search-trips.component.ts
  src/app/features/search-trip/search-trip.module.ts
  src/app/features/search-trip/services/fetch-trips.service.ts
Due: eslint --fix, prettier --write

feat: add method delete station
  src/app/features/admin/admin.module.ts
  src/app/features/admin/components/form-station/form-station.component.html
  src/app/features/admin/components/form-station/form-station.component.ts
  src/app/features/admin/components/index.ts
  src/app/features/admin/components/message/index.ts
  src/app/features/admin/components/message/message.component.html
  src/app/features/admin/components/message/message.component.scss
  src/app/features/admin/components/message/message.component.spec.ts
  src/app/features/admin/components/message/message.component.ts
  src/app/features/admin/components/station-info/station-info.component.html
  src/app/features/admin/components/station-info/station-info.component.ts
  src/app/features/admin/models/DataFormStation.ts
  src/app/features/admin/models/RoutesData.ts
  src/app/features/admin/models/index.ts
  src/app/features/admin/pages/stations/stations.component.html
  src/app/features/admin/pages/stations/stations.component.ts
  src/app/features/admin/services/route.service.ts
  src/app/features/admin/services/station.service.ts
  src/app/features/admin/store/actions/admin.actions.ts
  src/app/features/admin/store/effects/admin.effects.ts
  src/app/features/admin/store/reducers/admin.reducer.ts
  src/app/features/admin/store/selectors/admin.selector.ts
Due: eslint --fix, prettier --write

style: add some styles
  package-lock.json
  package.json
  src/app/features/search-trip/components/date-selector/date-selector.component.html
  src/app/features/search-trip/components/date-selector/date-selector.component.scss
  src/app/features/search-trip/components/single-trip/single-trip.component.html
  src/app/features/search-trip/components/single-trip/single-trip.component.scss
  src/app/features/search-trip/pages/search-trips/search-trips.component.html
  src/app/features/search-trip/pages/search-trips/search-trips.component.scss
  src/app/features/search-trip/pages/search-trips/search-trips.component.ts
  src/app/features/search-trip/validators/date-validator.directive.ts
  src/styles.scss
Due: eslint --fix, prettier --write

feat: add form create router
  src/app/features/admin/admin-routing.module.ts
  src/app/features/admin/admin.module.ts
  src/app/features/admin/components/form-router/form-router.component.html
  src/app/features/admin/components/form-router/form-router.component.scss
  src/app/features/admin/components/form-router/form-router.component.spec.ts
  src/app/features/admin/components/form-router/form-router.component.ts
  src/app/features/admin/components/form-router/index.ts
  src/app/features/admin/components/index.ts
  src/app/features/admin/components/router-info/index.ts
  src/app/features/admin/components/router-info/router-info.component.html
  src/app/features/admin/components/router-info/router-info.component.scss
  src/app/features/admin/components/router-info/router-info.component.spec.ts
  src/app/features/admin/components/router-info/router-info.component.ts
  src/app/features/admin/models/CarriagesData.ts
  src/app/features/admin/models/index.ts
  src/app/features/admin/pages/routes/routes.component.html
  src/app/features/admin/pages/routes/routes.component.scss
  src/app/features/admin/pages/routes/routes.component.ts
  src/app/features/admin/services/route.service.ts
  src/app/features/admin/store/actions/admin.actions.ts
  src/app/features/admin/store/effects/admin.effects.ts
  src/app/features/admin/store/reducers/admin.reducer.ts
  src/app/features/admin/store/selectors/admin.selector.ts
Due: eslint --fix, prettier --write

feat: add skeleton for search-detail
  .eslintrc.json
  angular.json
  src/app/features/search-trip/components/book-seat/book-seat.component.html
  src/app/features/search-trip/components/book-seat/book-seat.component.scss
  src/app/features/search-trip/components/book-seat/book-seat.component.ts
  src/app/features/search-trip/components/book-seat/index.ts
  src/app/features/search-trip/components/carriage-type-tabs/carriage-type-tabs.component.html
  src/app/features/search-trip/components/carriage-type-tabs/carriage-type-tabs.component.scss
  src/app/features/search-trip/components/carriage-type-tabs/carriage-type-tabs.component.ts
  src/app/features/search-trip/components/carriage-type-tabs/index.ts
  src/app/features/search-trip/components/index.ts
  src/app/features/search-trip/components/train-stations/index.ts
  src/app/features/search-trip/components/train-stations/train-stations.component.html
  src/app/features/search-trip/components/train-stations/train-stations.component.scss
  src/app/features/search-trip/components/train-stations/train-stations.component.ts
  src/app/features/search-trip/pages/index.ts
  src/app/features/search-trip/pages/trip-details/trip-details.component.ts
  src/app/features/search-trip/search-trip.module.ts
  src/app/shared/components/index.ts
  src/app/shared/components/train-car-items/index.ts
  src/app/shared/components/train-car-items/train-car-items.component.html
  src/app/shared/components/train-car-items/train-car-items.component.scss
  src/app/shared/components/train-car-items/train-car-items.component.ts
  src/app/shared/components/train-car/index.ts
  src/app/shared/components/train-car/train-car.component.html
  src/app/shared/components/train-car/train-car.component.scss
  src/app/shared/components/train-car/train-car.component.ts
Due: eslint --fix, prettier --write

feat: add method update route
  src/app/features/admin/components/form-router/form-router.component.html
  src/app/features/admin/components/form-router/form-router.component.ts
  src/app/features/admin/components/form-station/form-station.component.ts
  src/app/features/admin/pages/stations/stations.component.html
  src/app/features/admin/pages/stations/stations.component.ts
  src/app/features/admin/store/actions/admin.actions.ts
  src/app/features/admin/store/reducers/admin.reducer.ts
Due: eslint --fix, prettier --write

style: some styles add
  src/app/features/search-trip/components/date-selector/date-selector.component.scss
  src/app/features/search-trip/components/single-trip/single-trip.component.html
  src/app/features/search-trip/components/single-trip/single-trip.component.scss
  src/app/features/search-trip/components/trip-details-dialog/trip-details-dialog.component.html
  src/app/features/search-trip/components/trip-details-dialog/trip-details-dialog.component.scss
  src/app/features/search-trip/pages/search-trips/search-trips.component.scss
  src/variables.scss
Due: prettier --write

feat: basic auth functionality
  src/app/app.module.ts
  src/app/app.routes.ts
  src/app/features/auth/auth-routing.module.ts
  src/app/features/auth/auth.module.ts
  src/app/features/auth/models/auth.model.ts
  src/app/features/auth/pages/signin/signin.component.html
  src/app/features/auth/pages/signin/signin.component.scss
  src/app/features/auth/pages/signin/signin.component.spec.ts
  src/app/features/auth/pages/signin/signin.component.ts
  src/app/features/auth/pages/signup/signup.component.html
  src/app/features/auth/pages/signup/signup.component.scss
  src/app/features/auth/pages/signup/signup.component.spec.ts
  src/app/features/auth/pages/signup/signup.component.ts
  src/app/features/auth/services/auth.service.spec.ts
  src/app/features/auth/services/auth.service.ts
  src/app/features/auth/store/auth.action.ts
  src/app/features/auth/store/auth.effect.ts
  src/app/features/auth/store/auth.reducer.ts
  src/app/features/auth/store/auth.selector.ts
Due: eslint --fix, prettier --write

feat: add 404-component and the corresponding route
  src/app/shared/components/not-found/not-found.component.html
  src/app/shared/components/not-found/not-found.component.scss
  src/app/shared/components/not-found/not-found.component.spec.ts
  src/app/shared/components/not-found/not-found.component.ts
Due: eslint --fix, prettier --write

feat: add auth guard and the token interceptor
  src/app/shared/guards/auth.guard.spec.ts
  src/app/shared/guards/auth.guard.ts
  src/app/shared/interceptors/api-token.interceptor.spec.ts
  src/app/shared/interceptors/api-token.interceptor.ts
Due: eslint --fix

refactor: add normal mapping in service
  src/app/features/search-trip/pages/trip-details/trip-details.component.ts
  src/app/features/search-trip/services/search-trip-detail.service.ts
  src/app/store/trip-detail/facades/trip-detail.facade.ts
Due: eslint --fix

feat: complete home page
  package-lock.json
  package.json
  src/app/features/search-trip/components/date-selector/date-selector.component.scss
  src/app/features/search-trip/components/date-selector/date-selector.component.ts
  src/app/features/search-trip/components/date-selector/index.ts
  src/app/features/search-trip/components/index.ts
  src/app/features/search-trip/components/no-trips/index.ts
  src/app/features/search-trip/components/no-trips/no-trips.component.html
  src/app/features/search-trip/components/no-trips/no-trips.component.scss
  src/app/features/search-trip/components/no-trips/no-trips.component.spec.ts
  src/app/features/search-trip/components/no-trips/no-trips.component.ts
  src/app/features/search-trip/components/single-trip/index.ts
  src/app/features/search-trip/components/single-trip/single-trip.component.html
  src/app/features/search-trip/components/single-trip/single-trip.component.scss
  src/app/features/search-trip/components/single-trip/single-trip.component.ts
  src/app/features/search-trip/components/trip-details-dialog/index.ts
  src/app/features/search-trip/components/trip-details-dialog/trip-details-dialog.component.html
  src/app/features/search-trip/components/trip-details-dialog/trip-details-dialog.component.scss
  src/app/features/search-trip/components/trip-details-dialog/trip-details-dialog.component.ts
  src/app/features/search-trip/models/city.model.ts
  src/app/features/search-trip/models/index.ts
  src/app/features/search-trip/models/station-responce.model.ts
  src/app/features/search-trip/pages/search-trips/search-trips.component.html
  src/app/features/search-trip/pages/search-trips/search-trips.component.scss
  src/app/features/search-trip/pages/search-trips/search-trips.component.ts
  src/app/features/search-trip/search-trip.module.ts
  src/app/features/search-trip/services/fetch-api-data.service.spec.ts
  src/app/features/search-trip/services/fetch-api-data.service.ts
  src/app/features/search-trip/services/fetch-carriages.service.ts
  src/app/features/search-trip/services/fetch-stations.service.spec.ts
  src/app/features/search-trip/services/fetch-stations.service.ts
  src/app/features/search-trip/services/fetch-trips.service.ts
  src/app/features/search-trip/services/index.ts
  src/app/features/search-trip/services/search-autocomplete.service.ts
  src/app/features/search-trip/validators/index.ts
  src/assets/icons/high-speed-rail.svg
  src/variables.scss
  tsconfig.json
Due: eslint --fix, prettier --write

fix: change prettier
  .editorconfig
  .prettierrc.json
Due: prettier --write

fix: remove googlemaps from dependescies
  package.json
Due: prettier --write

feat: add method create and update router
  src/app/features/admin/admin.module.ts
  src/app/features/admin/components/confirm/confirm.component.html
  src/app/features/admin/components/confirm/confirm.component.scss
  src/app/features/admin/components/confirm/confirm.component.spec.ts
  src/app/features/admin/components/confirm/confirm.component.ts
  src/app/features/admin/components/confirm/index.ts
  src/app/features/admin/components/form-router/form-router.component.html
  src/app/features/admin/components/form-router/form-router.component.scss
  src/app/features/admin/components/form-router/form-router.component.ts
  src/app/features/admin/components/index.ts
  src/app/features/admin/components/router-info/router-info.component.html
  src/app/features/admin/components/router-info/router-info.component.scss
  src/app/features/admin/components/router-info/router-info.component.ts
  src/app/features/admin/models/DataFormRouter.ts
  src/app/features/admin/models/index.ts
  src/app/features/admin/pages/routes/routes.component.html
  src/app/features/admin/pages/routes/routes.component.scss
  src/app/features/admin/pages/routes/routes.component.ts
  src/app/features/admin/services/route.service.ts
  src/app/features/admin/store/actions/admin.actions.ts
  src/app/features/admin/store/effects/admin.effects.ts
  src/app/features/admin/store/reducers/admin.reducer.ts
  src/app/features/admin/store/selectors/admin.selector.ts
  src/app/features/admin/validators/index.ts
  src/app/features/admin/validators/routeFormValid.ts
Due: eslint --fix, prettier --write

fix: time format
  src/app/features/search-trip/components/single-trip/single-trip.component.html
  src/app/features/search-trip/components/single-trip/single-trip.component.scss
Due: prettier --write

feat: add ride page
  package-lock.json
  package.json
  src/app/features/admin/admin-routing.module.ts
  src/app/features/admin/admin.module.ts
  src/app/features/admin/components/index.ts
  src/app/features/admin/components/navigation/navigation.component.html
  src/app/features/admin/components/ride-info/index.ts
  src/app/features/admin/components/ride-info/ride-info.component.html
  src/app/features/admin/components/ride-info/ride-info.component.scss
  src/app/features/admin/components/ride-info/ride-info.component.spec.ts
  src/app/features/admin/components/ride-info/ride-info.component.ts
  src/app/features/admin/models/DataRide.ts
  src/app/features/admin/models/index.ts
  src/app/features/admin/pages/index.ts
  src/app/features/admin/pages/rides/index.ts
  src/app/features/admin/pages/rides/rides.component.html
  src/app/features/admin/pages/rides/rides.component.scss
  src/app/features/admin/pages/rides/rides.component.spec.ts
  src/app/features/admin/pages/rides/rides.component.ts
  src/app/features/admin/pages/routes/routes.component.html
  src/app/features/admin/services/ride.service.ts
  src/app/features/admin/store/actions/admin.actions.ts
  src/app/features/admin/store/effects/admin.effects.ts
  src/app/features/admin/store/reducers/admin.reducer.ts
  src/app/features/admin/store/selectors/admin.selector.ts
Due: eslint --fix, prettier --write

feat: add header component
  src/app/shared/components/header/header.component.html
  src/app/shared/components/header/header.component.scss
  src/app/shared/components/header/header.component.spec.ts
  src/app/shared/components/header/header.component.ts
  src/styles.scss
Due: eslint --fix, prettier --write

chore: increase budget size
  angular.json
Due: prettier --write

feat: add method upadate ride
  src/app/features/admin/admin.module.ts
  src/app/features/admin/components/index.ts
  src/app/features/admin/components/ride-info-content/index.ts
  src/app/features/admin/components/ride-info-content/ride-info-content.component.html
  src/app/features/admin/components/ride-info-content/ride-info-content.component.scss
  src/app/features/admin/components/ride-info-content/ride-info-content.component.spec.ts
  src/app/features/admin/components/ride-info-content/ride-info-content.component.ts
  src/app/features/admin/components/ride-info/ride-info.component.html
  src/app/features/admin/components/ride-info/ride-info.component.scss
  src/app/features/admin/components/ride-info/ride-info.component.ts
  src/app/features/admin/models/DataRide.ts
  src/app/features/admin/pages/rides/rides.component.html
  src/app/features/admin/pages/rides/rides.component.scss
  src/app/features/admin/services/ride.service.ts
  src/app/features/admin/store/actions/admin.actions.ts
  src/app/features/admin/store/effects/admin.effects.ts
  src/app/features/admin/store/reducers/admin.reducer.ts
Due: eslint --fix, prettier --write

feat: add method upadate price ride
  src/app/features/admin/components/ride-info-content/ride-info-content.component.ts
Due: eslint --fix

refactor: improve zod validation
  package-lock.json
  src/app/features/search-trip/models/carriage.model.ts
  src/app/features/search-trip/models/city.model.ts
  src/app/features/search-trip/models/index.ts
  src/app/features/search-trip/models/station-responce.model.ts
  src/app/features/search-trip/models/trips.model.ts
  src/app/features/search-trip/services/fetch-api-data.service.ts
Due: eslint --fix, prettier --write

feat: add routing
  src/app/app.component.html
  src/app/app.routes.ts
  src/app/features/search-trip/components/single-trip/single-trip.component.html
  src/app/features/search-trip/components/single-trip/single-trip.component.scss
  src/app/features/search-trip/components/single-trip/single-trip.component.ts
  src/app/features/search-trip/search-trip.module.ts
Due: eslint --fix, prettier --write

fix: reset active tab index
  src/app/features/search-trip/components/date-selector/date-selector.component.html
  src/app/features/search-trip/components/date-selector/date-selector.component.ts
  src/app/features/search-trip/components/trip-details-dialog/trip-details-dialog.component.ts
  src/app/features/search-trip/pages/search-trips/search-trips.component.html
  src/app/features/search-trip/pages/search-trips/search-trips.component.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: any of: *.{json,html,css,scss}
