Repository vetall7/railway-management-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix",
  "*.{json,html,css,scss}": "prettier --write"
}

feat: add my-orders module
  src/app/features/my-orders/my-orders.module.ts
Due: eslint --fix

feat: add create ride
  src/app/features/admin/admin.module.ts
  src/app/features/admin/components/index.ts
  src/app/features/admin/components/ride-create/index.ts
  src/app/features/admin/components/ride-create/ride-create.component.html
  src/app/features/admin/components/ride-create/ride-create.component.scss
  src/app/features/admin/components/ride-create/ride-create.component.spec.ts
  src/app/features/admin/components/ride-create/ride-create.component.ts
  src/app/features/admin/components/ride-info-content/ride-info-content.component.html
  src/app/features/admin/components/ride-info-content/ride-info-content.component.ts
  src/app/features/admin/pages/rides/rides.component.html
  src/app/features/admin/pages/rides/rides.component.ts
  src/app/features/admin/services/ride.service.ts
  src/app/features/admin/store/actions/admin.actions.ts
  src/app/features/admin/store/effects/admin.effects.ts
  src/app/features/admin/store/reducers/admin.reducer.ts
  src/app/features/admin/store/selectors/admin.selector.ts
Due: eslint --fix, prettier --write

fix: add stop propagation to route button
  src/app/features/search-trip/components/single-trip/single-trip.component.html
Due: prettier --write

feat: add method delete ride
  src/app/features/admin/components/ride-info/ride-info.component.html
  src/app/features/admin/components/ride-info/ride-info.component.scss
  src/app/features/admin/components/ride-info/ride-info.component.ts
  src/app/features/admin/services/ride.service.ts
  src/app/features/admin/store/actions/admin.actions.ts
  src/app/features/admin/store/effects/admin.effects.ts
  src/app/features/admin/store/reducers/admin.reducer.ts
Due: eslint --fix, prettier --write

feat: add confirm delete ride
  src/app/features/admin/admin.module.ts
  src/app/features/admin/components/carriage-info/carriage-info.component.html
  src/app/features/admin/components/carriage-info/carriage-info.component.scss
  src/app/features/admin/components/carriage-info/carriage-info.component.spec.ts
  src/app/features/admin/components/carriage-info/carriage-info.component.ts
  src/app/features/admin/components/carriage-info/index.ts
  src/app/features/admin/components/carriage-view/carriage-view.component.html
  src/app/features/admin/components/carriage-view/carriage-view.component.scss
  src/app/features/admin/components/carriage-view/carriage-view.component.spec.ts
  src/app/features/admin/components/carriage-view/carriage-view.component.ts
  src/app/features/admin/components/carriage-view/index.ts
  src/app/features/admin/components/confirm/confirm.component.html
  src/app/features/admin/components/confirm/confirm.component.ts
  src/app/features/admin/components/index.ts
  src/app/features/admin/components/ride-info/ride-info.component.html
  src/app/features/admin/components/ride-info/ride-info.component.ts
Due: eslint --fix, prettier --write

refactor: relocate services and models to shared
  src/app/features/search-trip/components/date-selector/date-selector.component.ts
  src/app/features/search-trip/components/single-trip/single-trip.component.ts
  src/app/features/search-trip/components/trip-details-dialog/trip-details-dialog.component.ts
  src/app/features/search-trip/pages/search-trips/search-trips.component.ts
  src/app/features/search-trip/search-trip.module.ts
  src/app/features/search-trip/services/fetch-trips.service.ts
  src/app/features/search-trip/services/index.ts
  src/app/shared/models/carriage.model.ts
  src/app/shared/models/index.ts
  src/app/shared/models/station-responce.model.ts
  src/app/shared/models/trips.model.ts
  src/app/shared/services/fetch-api-data.service.spec.ts
  src/app/shared/services/fetch-api-data.service.ts
  src/app/shared/services/fetch-carriages.service.spec.ts
  src/app/shared/services/fetch-carriages.service.ts
  src/app/shared/services/fetch-stations.service.spec.ts
  src/app/shared/services/fetch-stations.service.ts
  src/app/shared/services/index.ts
Due: eslint --fix

feat: add carriages page
  src/app/features/admin/components/carriage-info/carriage-info.component.html
  src/app/features/admin/components/carriage-info/carriage-info.component.scss
  src/app/features/admin/components/carriage-info/carriage-info.component.ts
  src/app/features/admin/components/carriage-view/carriage-view.component.html
  src/app/features/admin/components/carriage-view/carriage-view.component.scss
  src/app/features/admin/components/carriage-view/carriage-view.component.ts
  src/app/features/admin/models/DataCarriages.ts
  src/app/features/admin/models/index.ts
  src/app/features/admin/pages/carriages/carriages.component.html
  src/app/features/admin/pages/carriages/carriages.component.scss
  src/app/features/admin/pages/carriages/carriages.component.ts
  src/app/features/admin/services/carriage.service.ts
  src/app/features/admin/services/route.service.ts
  src/app/features/admin/store/effects/admin.effects.ts
Due: eslint --fix, prettier --write

fix: fix css reset to work with primeng
  src/styles.scss
Due: prettier --write

feat: add toast
  src/app/app.component.html
  src/app/app.module.ts
Due: eslint --fix, prettier --write

feat: add guest-only guard
  src/app/features/auth/auth-routing.module.ts
  src/app/shared/guards/guest.guard.spec.ts
  src/app/shared/guards/guest.guard.ts
Due: eslint --fix

feat: better login handling, redirects etc
  src/app/features/auth/pages/signin/signin.component.html
  src/app/features/auth/pages/signin/signin.component.scss
  src/app/features/auth/pages/signin/signin.component.ts
  src/app/features/auth/pages/signup/signup.component.scss
  src/app/features/auth/pages/signup/signup.component.ts
Due: eslint --fix, prettier --write

fix: typo
  src/app/features/auth/store/auth.action.ts
  src/app/features/auth/store/auth.effect.ts
Due: eslint --fix

feat: add my orders module
  src/app/app.routes.ts
  src/app/features/my-orders/models/index.ts
  src/app/features/my-orders/models/order-response.model.ts
  src/app/features/my-orders/models/order.model.ts
  src/app/features/my-orders/my-orders-routing.module.ts
  src/app/features/my-orders/my-orders.module.ts
  src/app/features/my-orders/pages/index.ts
  src/app/features/my-orders/pages/my-orders/index.ts
  src/app/features/my-orders/pages/my-orders/my-orders.component.html
  src/app/features/my-orders/pages/my-orders/my-orders.component.scss
  src/app/features/my-orders/pages/my-orders/my-orders.component.spec.ts
  src/app/features/my-orders/pages/my-orders/my-orders.component.ts
  src/app/features/my-orders/services/fetch-data.service.spec.ts
  src/app/features/my-orders/services/fetch-data.service.ts
  src/app/features/my-orders/services/fetch-orders.service.spec.ts
  src/app/features/my-orders/services/fetch-orders.service.ts
  src/app/features/my-orders/services/index.ts
Due: eslint --fix, prettier --write

fix: change file format
  angular.json
  package-lock.json
  package.json
Due: prettier --write

feature: add car list book tabs
  src/app/features/search-trip/components/book-seat/book-seat.component.html
  src/app/features/search-trip/components/book-seat/book-seat.component.scss
  src/app/features/search-trip/components/book-seat/book-seat.component.ts
  src/app/features/search-trip/components/carriage-type-tabs/carriage-type-tabs.component.html
  src/app/features/search-trip/components/carriage-type-tabs/carriage-type-tabs.component.scss
  src/app/features/search-trip/components/carriage-type-tabs/carriage-type-tabs.component.ts
  src/app/features/search-trip/models/index.ts
  src/app/features/search-trip/models/ride-carriage-info.model.ts
  src/app/features/search-trip/models/ride-carriage.model.ts
  src/app/features/search-trip/models/ride-information.model.ts
  src/app/features/search-trip/pages/trip-details/trip-details.component.html
  src/app/features/search-trip/pages/trip-details/trip-details.component.scss
  src/app/features/search-trip/pages/trip-details/trip-details.component.ts
  src/app/features/search-trip/pipes/find-carriage-type.pipe.ts
  src/app/features/search-trip/pipes/index.ts
  src/app/features/search-trip/search-trip.module.ts
  src/app/features/search-trip/services/index.ts
  src/app/features/search-trip/services/search-trip-detail.service.ts
  src/app/shared/components/train-car-items/train-car-items.component.html
  src/app/shared/components/train-car-items/train-car-items.component.scss
  src/app/shared/components/train-car-items/train-car-items.component.ts
  src/app/shared/components/train-car/train-car.component.html
  src/app/shared/components/train-car/train-car.component.scss
  src/app/shared/components/train-car/train-car.component.ts
  src/app/shared/services/car.service.ts
  src/app/shared/services/index.ts
  src/app/store/trip-detail/models/trip-detail-state.model.ts
  src/app/store/trip-detail/reducers/trip-detail.reducer.ts
  src/app/store/trip-detail/states/trip-dtail.state.ts
Due: eslint --fix, prettier --write

fix: remove dedicated interceptor
  src/app/features/search-trip/search-trip.module.ts
  src/app/shared/interceptors/api-token.interceptor.ts
Due: eslint --fix

feat: add get routes
  src/app/features/admin/pages/carriages/carriages.component.html
  src/app/features/admin/pages/carriages/carriages.component.ts
  src/app/features/admin/store/effects/admin.effects.ts
Due: eslint --fix, prettier --write

feat: add style
  src/app/features/admin/components/carriage-info/carriage-info.component.scss
  src/app/features/admin/components/carriage-view/carriage-view.component.scss
  src/app/features/admin/components/confirm/confirm.component.scss
  src/app/features/admin/components/confirm/confirm.component.ts
  src/app/features/admin/components/form-router/form-router.component.html
  src/app/features/admin/components/form-router/form-router.component.scss
  src/app/features/admin/components/form-station/form-station.component.scss
  src/app/features/admin/components/loader/loader.component.scss
  src/app/features/admin/components/message/message.component.scss
  src/app/features/admin/components/navigation/navigation.component.scss
  src/app/features/admin/components/ride-create/ride-create.component.scss
  src/app/features/admin/components/ride-info-content/ride-info-content.component.scss
  src/app/features/admin/components/ride-info/ride-info.component.scss
  src/app/features/admin/components/router-info/router-info.component.html
  src/app/features/admin/components/router-info/router-info.component.scss
  src/app/features/admin/components/router-info/router-info.component.ts
  src/app/features/admin/components/station-info/station-info.component.scss
  src/app/features/admin/pages/admin/admin.component.scss
  src/app/features/admin/pages/carriages/carriages.component.scss
  src/app/features/admin/pages/rides/rides.component.scss
  src/app/features/admin/pages/routes/routes.component.html
  src/app/features/admin/pages/routes/routes.component.scss
  src/app/features/admin/pages/routes/routes.component.ts
  src/app/features/admin/pages/stations/stations.component.scss
Due: eslint --fix, prettier --write

feat: add method create carriage
  src/app/features/admin/models/DataCarriages.ts
  src/app/features/admin/pages/carriages/carriages.component.ts
  src/app/features/admin/services/carriage.service.ts
  src/app/features/admin/store/actions/admin.actions.ts
  src/app/features/admin/store/effects/admin.effects.ts
  src/app/features/admin/store/reducers/admin.reducer.ts
Due: eslint --fix

feat: add method update carriage
  src/app/features/admin/components/carriage-info/carriage-info.component.ts
  src/app/features/admin/pages/carriages/carriages.component.ts
  src/app/features/admin/store/actions/admin.actions.ts
  src/app/features/admin/store/effects/admin.effects.ts
  src/app/features/admin/store/reducers/admin.reducer.ts
Due: eslint --fix

feature: add create order
  package-lock.json
  src/app/app.routes.ts
  src/app/features/search-trip/components/book-seat/book-seat.component.html
  src/app/features/search-trip/components/book-seat/book-seat.component.ts
  src/app/features/search-trip/components/single-trip/single-trip.component.ts
  src/app/features/search-trip/components/train-stations/train-stations.component.html
  src/app/features/search-trip/components/train-stations/train-stations.component.scss
  src/app/features/search-trip/components/train-stations/train-stations.component.ts
  src/app/features/search-trip/models/ride-carriage-info.model.ts
  src/app/features/search-trip/pages/trip-details/trip-details.component.html
  src/app/features/search-trip/pages/trip-details/trip-details.component.ts
  src/app/features/search-trip/search-trip.module.ts
  src/app/features/search-trip/services/search-trip-detail.service.ts
Due: eslint --fix, prettier --write

feat: add orders visualization
  src/app/features/my-orders/components/single-order/single-order.component.html
  src/app/features/my-orders/components/single-order/single-order.component.scss
  src/app/features/my-orders/components/single-order/single-order.component.spec.ts
  src/app/features/my-orders/components/single-order/single-order.component.ts
  src/app/features/my-orders/models/index.ts
  src/app/features/my-orders/models/order-response.model.ts
  src/app/features/my-orders/models/order.model.ts
  src/app/features/my-orders/models/user.model.ts
  src/app/features/my-orders/my-orders.module.ts
  src/app/features/my-orders/pages/my-orders/my-orders.component.html
  src/app/features/my-orders/pages/my-orders/my-orders.component.scss
  src/app/features/my-orders/pages/my-orders/my-orders.component.ts
  src/app/features/my-orders/services/fetch-data.service.ts
  src/app/features/my-orders/services/fetch-orders.service.ts
  src/app/features/my-orders/services/fetch-users.service.spec.ts
  src/app/features/my-orders/services/fetch-users.service.ts
  src/app/features/my-orders/services/index.ts
  src/app/features/search-trip/components/single-trip/single-trip.component.html
  src/app/shared/interceptors/api-token.interceptor.ts
  src/app/shared/services/fetch-carriages.service.ts
  src/app/shared/services/fetch-stations.service.ts
Due: eslint --fix, prettier --write

feat: implement necessary logic and view
  src/app/app.module.ts
  src/app/core/core.module.ts
  src/app/features/my-orders/components/single-order/single-order.component.html
  src/app/features/my-orders/components/single-order/single-order.component.scss
  src/app/features/my-orders/components/single-order/single-order.component.ts
  src/app/features/my-orders/models/order.model.ts
  src/app/features/my-orders/my-orders.module.ts
  src/app/features/my-orders/services/fetch-data.service.ts
  src/app/features/my-orders/services/fetch-orders.service.ts
  src/app/features/my-orders/services/fetch-users.service.ts
  src/app/shared/services/authentication.service.spec.ts
  src/app/shared/services/authentication.service.ts
  src/app/shared/services/index.ts
  src/app/shared/web-storage/index.ts
  src/app/shared/web-storage/local-storage.service.spec.ts
  src/app/shared/web-storage/local-storage.service.ts
  src/app/shared/web-storage/storage-interface.ts
  src/app/shared/web-storage/storage.token.ts
Due: eslint --fix, prettier --write

feat: add method delete carriage
  src/app/features/admin/components/carriage-info/carriage-info.component.html
  src/app/features/admin/components/carriage-info/carriage-info.component.scss
  src/app/features/admin/components/carriage-info/carriage-info.component.ts
  src/app/features/admin/pages/carriages/carriages.component.html
  src/app/features/admin/pages/carriages/carriages.component.ts
  src/app/features/admin/store/actions/admin.actions.ts
  src/app/features/admin/store/effects/admin.effects.ts
  src/app/features/admin/store/reducers/admin.reducer.ts
  src/app/features/admin/store/selectors/admin.selector.ts
Due: eslint --fix, prettier --write

fix: add correct from to id
  src/app/features/search-trip/components/single-trip/single-trip.component.ts
Due: eslint --fix

feat: add guard for admin page
  src/app/app.routes.ts
  src/app/features/admin/services/carriage.service.ts
  src/app/features/admin/services/ride.service.ts
  src/app/features/admin/services/route.service.ts
  src/app/features/admin/services/station.service.ts
  src/app/features/admin/store/effects/admin.effects.ts
  src/app/features/admin/validators/uniqNameValid.ts
  src/app/features/auth/store/auth.effect.ts
  src/app/shared/guards/permission.guard.ts
  src/styles.scss
Due: eslint --fix, prettier --write

fix: add change stan when create order
  src/app/features/search-trip/pages/trip-details/trip-details.component.ts
  src/app/features/search-trip/services/search-trip-detail.service.ts
  src/app/shared/components/train-car-items/train-car-items.component.html
  src/app/shared/components/train-car-items/train-car-items.component.scss
  src/app/shared/components/train-car-items/train-car-items.component.ts
Due: eslint --fix, prettier --write

fix: add error toast
  src/app/features/search-trip/pages/trip-details/trip-details.component.ts
Due: eslint --fix

fix: fix html
  src/app/features/search-trip/components/carriage-type-tabs/carriage-type-tabs.component.scss
  src/app/shared/components/train-car/train-car.component.scss
Due: prettier --write

feat: add scrolling for carriages
  angular.json
  src/app/features/search-trip/components/single-trip/single-trip.component.html
  src/app/features/search-trip/components/single-trip/single-trip.component.scss
Due: prettier --write

fix: start/end trip data
  src/app/features/search-trip/components/single-trip/single-trip.component.ts
Due: eslint --fix

fix: number of available seats calculating
  src/app/shared/services/fetch-carriages.service.ts
Due: eslint --fix

refactor: add readonly
  src/app/shared/services/fetch-carriages.service.ts
  src/app/shared/services/fetch-stations.service.ts
Due: eslint --fix

fix: data displaying
  src/app/features/my-orders/models/order-response.model.ts
  src/app/features/my-orders/services/fetch-data.service.ts
  src/app/features/my-orders/services/fetch-orders.service.ts
  src/app/shared/interceptors/api-token.interceptor.ts
Due: eslint --fix

fix: interceptor
  src/app/shared/interceptors/api-token.interceptor.ts
Due: eslint --fix

fix: error fix
  package-lock.json
  package.json
  src/app/features/search-trip/pages/search-trips/search-trips.component.ts
  src/app/shared/services/fetch-api-data.service.ts
Due: eslint --fix, prettier --write

fix: typo
  src/app/core/.gitkeep
  src/app/shared/models/index.ts
  src/app/shared/models/station-response.model.ts
Due: eslint --fix

style: styles for auth
  src/app/features/auth/pages/signin/signin.component.html
  src/app/features/auth/pages/signin/signin.component.scss
  src/app/features/auth/pages/signin/signin.component.ts
  src/app/features/auth/pages/signup/signup.component.html
  src/app/features/auth/pages/signup/signup.component.scss
  src/app/features/auth/pages/signup/signup.component.ts
Due: eslint --fix, prettier --write

fix: change status and email displaying instead names
  src/app/features/my-orders/components/single-order/single-order.component.ts
  src/app/features/my-orders/models/order.model.ts
  src/app/features/my-orders/models/user.model.ts
  src/app/features/my-orders/services/fetch-orders.service.ts
Due: eslint --fix
