Repository vetall7/railway-management-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix",
  "*.{json,html,css,scss}": "prettier --write"
}

feat: add dialog and styles
  src/app/features/profile/pages/profile/profile.component.html
  src/app/features/profile/pages/profile/profile.component.scss
  src/app/features/profile/pages/profile/profile.component.ts
  src/app/features/profile/profile.module.ts
Due: eslint --fix, prettier --write

fix: getter instead of control
  src/app/features/profile/pages/profile/profile.component.ts
Due: eslint --fix

refactor: put validator in the separate file
  src/app/features/auth/pages/signup/signup.component.ts
  src/app/features/profile/pages/profile/profile.component.ts
  src/app/shared/validators/index.ts
  src/app/shared/validators/password-match.validator.ts
Due: eslint --fix

feat: close menu after redirecting
  src/app/features/auth/pages/signup/signup.component.ts
  src/app/shared/components/header/header.component.html
  src/app/shared/components/header/header.component.ts
Due: eslint --fix, prettier --write

feat: add shadow when manu is open
  src/app/features/profile/pages/profile/profile.component.html
  src/app/features/profile/pages/profile/profile.component.ts
  src/app/shared/components/header/header.component.html
  src/app/shared/components/header/header.component.scss
  src/app/shared/components/header/header.component.ts
Due: eslint --fix, prettier --write

fix: some style add
  src/app/features/admin/admin-routing.module.ts
  src/app/features/admin/admin.module.ts
  src/app/features/admin/components/navigation/navigation.component.scss
  src/app/features/admin/components/navigation/navigation.component.ts
  src/app/features/admin/pages/admin/admin.component.html
  src/app/features/admin/pages/admin/admin.component.scss
  src/app/features/admin/pages/admin/admin.component.spec.ts
  src/app/features/admin/pages/admin/admin.component.ts
  src/app/features/admin/pages/admin/index.ts
  src/app/features/admin/pages/carriages/carriages.component.html
  src/app/features/admin/pages/carriages/carriages.component.scss
  src/app/features/admin/pages/index.ts
  src/app/features/admin/pages/rides/rides.component.scss
  src/app/features/admin/pages/routes/routes.component.scss
  src/app/features/admin/pages/stations/stations.component.scss
  src/app/features/my-orders/components/single-order/single-order.component.scss
  src/app/features/my-orders/components/single-order/single-order.component.ts
  src/app/features/search-trip/components/date-selector/date-selector.component.scss
  src/variables.scss
Due: eslint --fix, prettier --write

refactor: all button replaced with p-button
  src/app/features/admin/admin.module.ts
  src/app/features/admin/components/form-router/form-router.component.html
  src/app/features/admin/components/form-router/form-router.component.scss
  src/app/features/admin/components/form-station/form-station.component.html
  src/app/features/admin/components/form-station/form-station.component.scss
  src/app/features/admin/components/ride-create/ride-create.component.html
  src/app/features/admin/components/ride-create/ride-create.component.scss
  src/app/features/admin/components/ride-info-content/ride-info-content.component.html
  src/app/features/admin/components/ride-info-content/ride-info-content.component.scss
  src/app/features/admin/components/ride-info/ride-info.component.html
  src/app/features/admin/components/ride-info/ride-info.component.scss
  src/app/features/admin/pages/rides/rides.component.html
  src/app/features/admin/pages/rides/rides.component.scss
  src/app/features/admin/pages/routes/routes.component.html
  src/app/features/admin/pages/routes/routes.component.scss
  src/variables.scss
Due: eslint --fix, prettier --write

fix: add diaglog window
  src/app/features/admin/admin.module.ts
  src/app/features/admin/components/confirm/confirm.component.html
  src/app/features/admin/components/router-info/router-info.component.html
  src/app/features/admin/components/router-info/router-info.component.scss
Due: eslint --fix, prettier --write

feat: add responsivity
  src/app/features/admin/components/carriage-info/carriage-info.component.html
  src/app/features/admin/components/carriage-info/carriage-info.component.scss
  src/app/features/admin/components/confirm/confirm.component.html
  src/app/features/admin/components/confirm/confirm.component.ts
  src/app/features/admin/components/form-router/form-router.component.html
  src/app/features/admin/components/form-router/form-router.component.scss
  src/app/features/admin/components/ride-info-content/ride-info-content.component.html
  src/app/features/admin/components/ride-info-content/ride-info-content.component.scss
  src/app/features/admin/components/ride-info/ride-info.component.html
  src/app/features/admin/components/ride-info/ride-info.component.scss
  src/app/features/admin/components/router-info/router-info.component.html
  src/app/features/admin/components/router-info/router-info.component.scss
  src/app/features/admin/components/station-info/station-info.component.html
  src/app/features/admin/components/station-info/station-info.component.scss
Due: eslint --fix, prettier --write

fix: fix confirm dialog
  src/app/features/admin/components/confirm/confirm.component.html
  src/app/features/admin/components/confirm/confirm.component.ts
Due: eslint --fix, prettier --write

fix: all styles
  src/app/core/components/background/background.component.html
  src/app/core/components/background/background.component.scss
  src/app/features/admin/components/carriage-info/carriage-info.component.scss
  src/app/features/admin/components/carriage-info/carriage-info.component.ts
  src/app/features/admin/components/carriage-view/carriage-view.component.scss
  src/app/features/admin/components/confirm/confirm.component.scss
  src/app/features/admin/components/form-router/form-router.component.scss
  src/app/features/admin/components/form-station/form-station.component.scss
  src/app/features/admin/components/loader/loader.component.scss
  src/app/features/admin/components/message/message.component.scss
  src/app/features/admin/components/navigation/navigation.component.scss
  src/app/features/admin/components/ride-info-content/ride-info-content.component.scss
  src/app/features/admin/components/ride-info/ride-info.component.scss
  src/app/features/admin/components/router-info/router-info.component.scss
  src/app/features/admin/components/station-info/station-info.component.scss
  src/app/features/admin/components/station-info/station-info.component.ts
  src/app/features/admin/pages/carriages/carriages.component.scss
  src/app/features/admin/pages/rides/rides.component.scss
  src/app/features/admin/pages/routes/routes.component.scss
  src/app/features/admin/pages/stations/stations.component.scss
  src/app/features/profile/pages/profile/profile.component.scss
  src/app/features/search-trip/components/book-seat/book-seat.component.html
  src/app/features/search-trip/components/book-seat/book-seat.component.scss
  src/app/features/search-trip/components/carriage-type-tabs/carriage-type-tabs.component.scss
  src/app/features/search-trip/components/date-selector/date-selector.component.scss
  src/app/features/search-trip/components/train-stations/train-stations.component.scss
  src/app/features/search-trip/pages/trip-details/trip-details.component.scss
  src/app/features/search-trip/pages/trip-details/trip-details.component.ts
  src/app/shared/services/car.service.ts
  src/variables.scss
Due: eslint --fix, prettier --write

fix: header
  src/app/shared/components/header/header.component.scss
  src/variables.scss
Due: prettier --write

refactor: ts
  src/app/features/admin/components/carriage-info/carriage-info.component.ts
  src/app/features/admin/components/carriage-view/carriage-view.component.ts
  src/app/features/admin/components/confirm/confirm.component.ts
  src/app/features/admin/components/form-router/form-router.component.ts
  src/app/features/admin/components/form-station/form-station.component.ts
  src/app/features/admin/components/ride-create/ride-create.component.ts
  src/app/features/admin/components/ride-info-content/ride-info-content.component.ts
  src/app/features/admin/components/ride-info/ride-info.component.ts
  src/app/features/admin/components/router-info/router-info.component.ts
  src/app/features/admin/components/station-info/station-info.component.ts
  src/app/features/admin/pages/carriages/carriages.component.ts
  src/app/features/admin/pages/rides/rides.component.ts
  src/app/features/admin/pages/routes/routes.component.ts
  src/app/features/admin/pages/stations/stations.component.ts
  src/app/features/admin/services/carriage.service.ts
  src/app/features/admin/services/ride.service.ts
  src/app/features/admin/services/route.service.ts
  src/app/features/admin/services/station.service.ts
  src/app/features/auth/pages/signin/signin.component.ts
  src/app/features/auth/pages/signup/signup.component.ts
  src/app/features/auth/services/auth.service.ts
  src/app/features/profile/services/profile.service.ts
  src/app/shared/components/payment/payment.component.ts
  src/app/shared/components/success/success.component.ts
  src/app/shared/components/train-car-items/train-car-items.component.ts
  src/app/shared/components/train-car/train-car.component.ts
  src/app/shared/web-storage/local-storage.service.spec.ts
Due: eslint --fix

fix: width of input
  src/app/features/admin/components/carriage-info/carriage-info.component.ts
  src/app/features/admin/components/form-router/form-router.component.ts
  src/app/features/admin/pages/carriages/carriages.component.scss
Due: eslint --fix, prettier --write

feat: add loader
  src/app/features/admin/admin.module.ts
  src/app/features/admin/components/index.ts
  src/app/features/my-orders/components/single-order/single-order.component.scss
  src/app/features/my-orders/my-orders.module.ts
  src/app/features/my-orders/pages/my-orders/my-orders.component.html
  src/app/features/my-orders/pages/my-orders/my-orders.component.ts
  src/app/features/my-orders/services/fetch-orders.service.ts
  src/app/features/profile/pages/profile/profile.component.html
  src/app/features/profile/pages/profile/profile.component.ts
  src/app/features/profile/profile.module.ts
  src/app/features/search-trip/pages/search-trips/search-trips.component.html
  src/app/features/search-trip/pages/search-trips/search-trips.component.ts
  src/app/features/search-trip/pages/trip-details/trip-details.component.html
  src/app/features/search-trip/pages/trip-details/trip-details.component.ts
  src/app/features/search-trip/search-trip.module.ts
  src/app/features/search-trip/services/fetch-trips.service.ts
  src/app/shared/components/index.ts
  src/app/shared/components/loader/index.ts
  src/app/shared/components/loader/loader.component.html
  src/app/shared/components/loader/loader.component.scss
  src/app/shared/components/loader/loader.component.spec.ts
  src/app/shared/components/loader/loader.component.ts
  src/app/shared/services/fetch-stations.service.ts
Due: eslint --fix, prettier --write

fix: switch cities button
  src/app/features/search-trip/pages/search-trips/search-trips.component.html
  src/app/features/search-trip/pages/search-trips/search-trips.component.scss
Due: prettier --write

refactor: add data validation
  src/app/features/my-orders/models/order-response.model.ts
  src/app/features/profile/models/payloads.model.ts
  src/app/features/profile/models/user-data.model.ts
  src/app/features/profile/pages/profile/profile.component.html
  src/app/features/profile/pages/profile/profile.component.ts
  src/app/features/profile/services/profile.service.ts
  src/app/features/search-trip/models/ride-carriage-info.model.ts
  src/app/features/search-trip/models/ride-carriage.model.ts
  src/app/features/search-trip/models/ride-error.model.ts
  src/app/features/search-trip/models/ride-information.model.ts
  src/app/shared/services/fetch-api-data.service.ts
Due: eslint --fix, prettier --write

refactor: add storage
  src/app/features/admin/components/carriage-info/carriage-info.component.ts
  src/app/features/admin/components/confirm/confirm.component.ts
  src/app/features/admin/components/form-router/form-router.component.ts
  src/app/features/admin/services/carriage.service.ts
  src/app/features/admin/services/ride.service.ts
  src/app/features/admin/services/route.service.ts
  src/app/features/admin/services/station.service.ts
  src/app/features/auth/services/auth.service.ts
  src/app/features/profile/pages/profile/profile.component.ts
  src/app/features/search-trip/pages/trip-details/trip-details.component.ts
  src/app/features/search-trip/services/search-trip-detail.service.ts
  src/app/shared/components/header/header.component.ts
  src/app/shared/services/index.ts
  src/app/shared/services/profile.service.spec.ts
  src/app/shared/services/profile.service.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: remove zod
  src/app/features/search-trip/models/ride-carriage-info.model.ts
  src/app/features/search-trip/models/ride-carriage.model.ts
  src/app/features/search-trip/models/ride-error.model.ts
  src/app/features/search-trip/models/ride-information.model.ts
Due: eslint --fix

Auto-generated commit
  3rdpartylicenses.txt
  404.html
  assets/icons/high-speed-rail.svg
  chunk-25DFGJNI.js
  chunk-3DOTG5Q5.js
  chunk-3LEWPSQC.js
  chunk-3QYKY7A3.js
  chunk-7JXHIXKM.js
  chunk-A747F3P5.js
  chunk-AEPMFU2B.js
  chunk-BZKVJPSP.js
  chunk-DD6YLV2T.js
  chunk-DL7W725W.js
  chunk-DXVTN2QW.js
  chunk-EAV54HNS.js
  chunk-ETHGVX75.js
  chunk-F2M3XZ7A.js
  chunk-GBWFWDKV.js
  chunk-HD4ISDNJ.js
  chunk-I22IGBHY.js
  chunk-S5A2GFWW.js
  chunk-WMO7HUQ5.js
  chunk-XSBYWNVP.js
  chunk-Y4K476CQ.js
  chunk-ZFIESI2D.js
  favicon.ico
  index.html
  main-A6GLBLD3.js
  media/Inter-italic.var-SWFAXF2C.woff2
  media/Inter-roman.var-WIJJYAE4.woff2
  media/color-3LUHUBGQ.png
  media/hue-RMMBQOAC.png
  media/primeicons-4GST5W3O.woff2
  media/primeicons-DHQU4SEP.svg
  media/primeicons-GEFHGEHP.ttf
  media/primeicons-P53SE5CV.woff
  media/primeicons-RSSEDYLY.eot
  polyfills-SCHOHYNV.js
  styles-R2KHEHS5.css
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: none

Auto-generated commit
  404.html
  chunk-25DFGJNI.js
  chunk-3CQMGK5D.js
  chunk-3QYKY7A3.js
  chunk-A747F3P5.js
  chunk-BC35HFRI.js
  chunk-BZKVJPSP.js
  chunk-DD6YLV2T.js
  chunk-DL7W725W.js
  chunk-DYZ2UK7G.js
  chunk-EAV54HNS.js
  chunk-ETHGVX75.js
  chunk-FRE5BCE3.js
  chunk-GBWFWDKV.js
  chunk-I22IGBHY.js
  chunk-I5PCDVRR.js
  chunk-IL5YMPHM.js
  chunk-IZXEV4SL.js
  chunk-MYNGEFEE.js
  chunk-NETK444S.js
  chunk-P6UGUP7Q.js
  chunk-PMHPWLZH.js
  chunk-QXZEQEEE.js
  chunk-QYCK4RYN.js
  chunk-WTEB7XGH.js
  chunk-XSBYWNVP.js
  chunk-Y4K476CQ.js
  chunk-Z3ODCNAC.js
  index.html
  main-A6GLBLD3.js
  main-QHNJI7VP.js
Due: eslint --fix, prettier --write
