Repository vetall7/railway-management-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add no orders found
  src/app/features/my-orders/my-orders.module.ts
  src/app/features/my-orders/pages/my-orders/my-orders.component.html
  src/app/features/search-trip/components/index.ts
  src/app/features/search-trip/components/no-trips/no-trips.component.ts
  src/app/features/search-trip/pages/search-trips/search-trips.component.html
  src/app/features/search-trip/search-trip.module.ts
  src/app/shared/components/index.ts
  src/app/shared/components/no-trips/index.ts
  src/app/shared/components/no-trips/no-trips.component.html
  src/app/shared/components/no-trips/no-trips.component.scss
  src/app/shared/components/no-trips/no-trips.component.spec.ts
  src/app/shared/components/no-trips/no-trips.component.ts
Due: eslint --fix, prettier --write

feat: add profile/header
  src/app/app.module.ts
  src/app/app.routes.ts
  src/app/features/auth/auth.module.ts
  src/app/features/auth/models/auth.model.ts
  src/app/features/auth/pages/signin/signin.component.ts
  src/app/features/auth/pages/signup/signup.component.ts
  src/app/features/auth/services/auth.service.ts
  src/app/features/auth/store/auth.action.ts
  src/app/features/auth/store/auth.effect.ts
  src/app/features/auth/store/auth.reducer.ts
  src/app/features/profile/models/payloads.model.ts
  src/app/features/profile/models/user-data.model.ts
  src/app/features/profile/pages/profile/profile.component.html
  src/app/features/profile/pages/profile/profile.component.scss
  src/app/features/profile/pages/profile/profile.component.spec.ts
  src/app/features/profile/pages/profile/profile.component.ts
  src/app/features/profile/profile-routing.module.ts
  src/app/features/profile/profile.module.ts
  src/app/features/profile/services/profile.service.spec.ts
  src/app/features/profile/services/profile.service.ts
  src/app/shared/components/header/header.component.html
  src/app/shared/components/header/header.component.scss
  src/app/shared/components/header/header.component.ts
  src/app/store/.gitkeep
Due: eslint --fix, prettier --write

fix: typo
  src/app/shared/components/header/header.component.html
  src/app/shared/components/header/header.component.ts
Due: eslint --fix, prettier --write

feat: add link for admin page in header
  src/app/shared/components/header/header.component.html
  src/app/shared/components/header/header.component.ts
Due: eslint --fix, prettier --write

fix: header
  src/app/shared/components/header/header.component.ts
Due: eslint --fix

fix: manager token
  src/app/shared/services/authentication.service.ts
Due: eslint --fix

fix: add home link to header and styles
  src/app/features/my-orders/components/single-order/single-order.component.scss
  src/app/shared/components/header/header.component.html
  src/app/shared/components/header/header.component.scss
  src/app/shared/components/header/header.component.ts
Due: eslint --fix, prettier --write

fix: method create ride
  src/app/features/admin/components/ride-info-content/ride-info-content.component.ts
Due: eslint --fix

fix: time crate ride
  src/app/features/admin/components/ride-create/ride-create.component.html
  src/app/features/admin/components/ride-create/ride-create.component.scss
  src/app/features/admin/components/ride-create/ride-create.component.ts
Due: eslint --fix, prettier --write

fix: date selecting
  src/app/features/search-trip/components/date-selector/date-selector.component.html
  src/app/features/search-trip/components/date-selector/date-selector.component.ts
Due: eslint --fix, prettier --write

fix: method update ride time and price
  src/app/features/admin/components/message/message.component.scss
  src/app/features/admin/components/ride-info-content/ride-info-content.component.html
  src/app/features/admin/components/ride-info-content/ride-info-content.component.ts
  src/app/features/admin/components/ride-info/ride-info.component.html
  src/app/features/admin/components/ride-info/ride-info.component.ts
Due: eslint --fix, prettier --write

fix: style mellage for ride page
  src/app/features/admin/components/message/message.component.scss
Due: prettier --write

refactor: crete separate form component
  .vscode/settings.json
  src/app/features/auth/auth.module.ts
  src/app/features/auth/pages/signup/signup.component.html
  src/app/features/auth/pages/signup/signup.component.scss
  src/app/shared/components/auth-form/auth-form.component.html
  src/app/shared/components/auth-form/auth-form.component.scss
  src/app/shared/components/auth-form/auth-form.component.spec.ts
  src/app/shared/components/auth-form/auth-form.component.ts
  src/app/shared/components/auth-form/index.ts
  src/app/shared/components/index.ts
Due: eslint --fix, prettier --write

feat: cool sign up form
  src/app/features/auth/auth.module.ts
  src/app/features/auth/pages/signin/signin.component.ts
  src/app/features/auth/pages/signup/signup.component.html
  src/app/features/auth/pages/signup/signup.component.scss
  src/app/features/auth/pages/signup/signup.component.ts
  src/app/shared/components/auth-form/auth-form.component.scss
Due: eslint --fix, prettier --write

feat: cool sign in form
  src/app/features/auth/pages/signin/signin.component.html
  src/app/features/auth/pages/signin/signin.component.scss
Due: prettier --write

feat: add background
  src/app/features/auth/pages/signin/signin.component.html
  src/app/features/auth/pages/signin/signin.component.scss
  src/app/features/search-trip/components/date-selector/date-selector.component.scss
  src/app/shared/components/auth-form/auth-form.component.scss
  src/app/shared/components/header/header.component.scss
  src/index.html
  src/styles.scss
Due: prettier --write

feat: add validators
  src/app/features/auth/pages/signin/signin.component.ts
Due: eslint --fix

fix: undefined component
  src/app/shared/components/train-car/train-car.component.ts
Due: eslint --fix

fix: header width
  .husky/commit-msg
  .husky/pre-commit
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
  README.md
  src/app/features/search-trip/components/train-stations/train-stations.component.scss
  src/app/shared/components/header/header.component.scss
  src/index.html
  src/styles.scss
  tsconfig.app.json
  tsconfig.spec.json
Due: prettier --write

feat: improvement done
  .npmrc
  src/app/features/search-trip/pages/search-trips/search-trips.component.scss
  src/app/shared/components/header/header.component.ts
  src/styles.scss
Due: eslint --fix, prettier --write

fix: pre-commit file
  .husky/pre-commit
Due: none

fix: branch name; pre-commit file
  .husky/pre-commit
Due: none

fix: form gap
  src/app/features/search-trip/pages/search-trips/search-trips.component.scss
Due: prettier --write

feat: add hamburger menu
  src/app/shared/components/header/header.component.html
  src/app/shared/components/header/header.component.scss
  src/app/shared/components/header/header.component.ts
Due: eslint --fix, prettier --write

feat: add icons
  src/app/shared/components/header/header.component.html
  src/app/shared/components/header/header.component.scss
  src/index.html
Due: prettier --write

refactor: use relative values
  src/app/shared/components/auth-form/auth-form.component.html
  src/app/shared/components/auth-form/auth-form.component.scss
  src/app/shared/components/header/header.component.scss
Due: prettier --write

refactor: use css variables
  src/app/shared/components/auth-form/auth-form.component.scss
  src/styles.scss
  src/variables.scss
Due: prettier --write

refactor: create separate component for background
  src/app/app.module.ts
  src/app/core/components/background/background.component.html
  src/app/core/components/background/background.component.scss
  src/app/core/components/background/background.component.spec.ts
  src/app/core/components/background/background.component.ts
  src/app/core/components/background/index.ts
  src/app/core/components/index.ts
  src/app/core/core.module.ts
  src/app/features/auth/pages/signin/signin.component.html
  src/app/features/auth/pages/signin/signin.component.scss
  src/app/features/auth/pages/signup/signup.component.html
  src/app/shared/components/auth-form/auth-form.component.html
  src/app/shared/components/auth-form/auth-form.component.scss
  src/index.html
  src/styles.scss
Due: eslint --fix, prettier --write

refactor: apply styles only in wrapper component
  src/app/features/auth/pages/signin/signin.component.scss
  src/app/features/auth/pages/signup/signup.component.scss
  src/app/shared/components/auth-form/auth-form.component.scss
Due: prettier --write

fix: button text color
  src/app/features/auth/pages/signin/signin.component.html
  src/app/shared/components/auth-form/auth-form.component.scss
Due: prettier --write

fix: remove back arrow
  src/app/features/auth/pages/signin/signin.component.html
  src/app/features/auth/pages/signup/signup.component.html
Due: prettier --write

feat: improve carriage selector styles
  src/app/features/search-trip/components/carriage-type-tabs/carriage-type-tabs.component.html
  src/app/features/search-trip/components/carriage-type-tabs/carriage-type-tabs.component.scss
  src/app/features/search-trip/pages/trip-details/trip-details.component.html
  src/app/features/search-trip/pages/trip-details/trip-details.component.scss
  src/app/shared/components/train-car-items/train-car-items.component.scss
Due: prettier --write

fix: add some styles
  src/app/features/search-trip/components/train-stations/train-stations.component.html
  src/app/features/search-trip/pages/trip-details/trip-details.component.html
  src/app/features/search-trip/pages/trip-details/trip-details.component.scss
  src/app/shared/components/train-car/train-car.component.html
  src/app/shared/components/train-car/train-car.component.scss
Due: prettier --write

feat: add stepper
  src/app/features/search-trip/pages/trip-details/trip-details.component.html
  src/app/features/search-trip/pages/trip-details/trip-details.component.scss
  src/app/features/search-trip/pages/trip-details/trip-details.component.ts
  src/app/features/search-trip/search-trip.module.ts
Due: eslint --fix, prettier --write

feat: add payment
  src/app/features/search-trip/components/book-seat/book-seat.component.html
  src/app/features/search-trip/components/book-seat/book-seat.component.scss
  src/app/features/search-trip/pages/trip-details/trip-details.component.html
  src/app/features/search-trip/pages/trip-details/trip-details.component.scss
  src/app/features/search-trip/pages/trip-details/trip-details.component.ts
  src/app/features/search-trip/search-trip.module.ts
  src/app/shared/components/index.ts
  src/app/shared/components/payment/index.ts
  src/app/shared/components/payment/payment.component.html
  src/app/shared/components/payment/payment.component.scss
  src/app/shared/components/payment/payment.component.ts
  src/variables.scss
Due: eslint --fix, prettier --write

feat: add responsivity
  src/app/features/search-trip/components/carriage-type-tabs/carriage-type-tabs.component.html
  src/app/features/search-trip/components/carriage-type-tabs/carriage-type-tabs.component.scss
  src/app/features/search-trip/pages/trip-details/trip-details.component.html
  src/app/features/search-trip/pages/trip-details/trip-details.component.scss
  src/app/shared/components/train-car-items/train-car-items.component.scss
  src/app/shared/components/train-car/train-car.component.scss
Due: prettier --write

feat: add success page
  src/app/features/search-trip/components/book-seat/book-seat.component.html
  src/app/features/search-trip/components/book-seat/book-seat.component.scss
  src/app/features/search-trip/components/book-seat/book-seat.component.ts
  src/app/features/search-trip/pages/trip-details/trip-details.component.html
  src/app/features/search-trip/pages/trip-details/trip-details.component.scss
  src/app/features/search-trip/pages/trip-details/trip-details.component.ts
  src/app/features/search-trip/search-trip.module.ts
  src/app/shared/components/payment/payment.component.html
  src/app/shared/components/payment/payment.component.scss
  src/app/shared/components/payment/payment.component.ts
  src/app/shared/components/success/success.component.html
  src/app/shared/components/success/success.component.scss
  src/app/shared/components/success/success.component.ts
Due: eslint --fix, prettier --write

fix: margin
  src/app/features/search-trip/components/book-seat/book-seat.component.scss
  src/app/features/search-trip/pages/trip-details/trip-details.component.ts
  src/app/shared/components/auth-form/auth-form.component.scss
  src/app/shared/components/payment/payment.component.scss
  src/app/shared/components/success/success.component.ts
Due: eslint --fix, prettier --write

feat: show current user data
  src/app/features/profile/pages/profile/profile.component.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: any of: *.{json,html,css,scss}
